<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
            </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/TestExecution.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <SizeBasedTriggerPolicy class = "ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <!-- each archived file's size will be max 10MB -->
            <maxFileSize>10MB</maxFileSize>
        </SizeBasedTriggerPolicy>
            <!-- total size of all archive files, if total size > 100GB, it will delete old archived file -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5p %c{1}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING"/>
    </root>
    <logger name="org.apache" level="WARN" />
    <logger name="httpclient" level="WARN" />
</configuration>